
<div class="content">
	<img ng-src="http://image.tmdb.org/t/p/w780/{{details.backdrop_path}}" />
	<div class="details">
		<h2>{{details.title}}</h2>
		<p>Duration: {{details.runtime}} min | Released: {{details.release_date | date:'MMM d, yyyy'}}</p>
		<p>Overview: {{details.overview}}</p>
	</div>

	<div class="trailer">
		<iframe width="560" height="315" ng-src="{{youtube}}" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="posters">
		<h2>posters</h2>
		<p class="text-right" ng-click="postershow=!postershow; posters=!posters"><span class="glyphicon" ng-class="posters ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span></p>
		<ul ng-show="postershow">
			<li ng-repeat="image in details.images.posters" class="col-xs-6">
				<img ng-src="http://image.tmdb.org/t/p/w342/{{image.file_path}}" alt="{{details.title}}"/>
			</li>
		</ul>
	</div>

	<div class="cast">
		<h2>cast</h2>
		<p class="text-right" ng-click="castshow=!castshow; cast=!cast"><span class="glyphicon" ng-class="cast ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span></p>
		<ul ng-show="castshow">
			<li ng-if="image.profile_path" ng-repeat="image in details.credits.cast" class="col-xs-6">
				<h4>Role: {{image.character}}</h4>
				<img ng-src="http://image.tmdb.org/t/p/w185/{{image.profile_path}}" alt="{{image.name}}"/>
				<h4>Actor: {{image.name}}</h4>
			</li>
		</ul>
	</div>

	<div class="similar-movies">
		<h2>Similar Movies</h2>
		<p class="text-right" ng-click="similarshow=!similarshow; similar=!similar"> <span class="glyphicon" ng-class="similar ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'"></span></p>
		<ul ng-show="similarshow">
			<li ng-repeat="image in details.similar.results" class="col-xs-6">
				<a href="#/movie/{{details.similar.results.indexOf(image)}}" ng-click="getMovieId(movie.id)"><img ng-src="http://image.tmdb.org/t/p/w185/{{image.poster_path}}" alt="{{image.title}}"/></a>
			</li>
		</ul>
	</div>


</div>