	<div class="details-back-btn">
		<back-btn></back-btn>
	</div>

<div class="content container" id="details">

	<div id="portrait">
		<h1 class="text-center">{{details.title}}</h1>
		<img ng-src="https://image.tmdb.org/t/p/w780/{{details.backdrop_path}}" ng-if="details.backdrop_path"/>
		<div class="details">
			<h3>Duration: {{details.runtime}} min</h3>
			<h3>Released: {{details.release_date | date:'MMM d, yyyy'}}</h3>
			<h3>Overview:</h3>
			<p>{{details.overview}}</p>
			<h3>Genres</h3>
			<ul>
				<li ng-repeat="genre in details.genres" class="btn btn-primary-outline"><a ng-href="#/genre/{{genre.id}}">{{genre.name}}</a></li>
			</ul>
		</div>
	</div>

	<div id="landscape">
		<div class="half">
			<h1 class="h2 text-center">{{details.title}}</h1>
			<img ng-src="https://image.tmdb.org/t/p/w780/{{details.backdrop_path}}" ng-if="details.backdrop_path"/>
		</div>

		<div class="half">
			<div class="details">
				<h3>Duration:</h3>
				<h4>{{details.runtime}} min</h4>
				<h3>Released:</h3>
				<h4>{{details.release_date | date:'MMM d, yyyy'}}</h4>
				<h3>Overview:</h3>
				<p>{{details.overview}}</p>
			</div>
		</div>
	</div>

	<div class="details" id="landscape">
		<h3>Genres</h3>
		<ul>
			<li ng-repeat="genre in details.genres" class="btn btn-primary-outline"><a ng-href="#/genre/{{genre.id}}">{{genre.name}}</a></li>
		</ul>
	</div>

	<div class="trailer" ng-if="details.videos.results[0].key">
		<iframe width="560" height="315" ng-src="{{youtube}}" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="posters">

		<hide-show info="posters"></hide-show>

		<div class="overflow">
			<ul ng-show="posters.show">
				<li ng-repeat="image in details.images.posters" class="col-xs-6">
					<a ng-href="#/movie/{{details.id}}/photo/{{details.images.posters.indexOf(image)}}">
						<img ng-src="https://image.tmdb.org/t/p/w342/{{image.file_path}}" alt="{{details.title}}"/>
					</a>
				</li>
			</ul>
		</div>
	
	</div>

	<div class="cast">

		<hide-show info="cast"></hide-show>
		
		<div class="overflow">
			<ul ng-show="cast.show">
				<li ng-repeat="image in details.credits.cast" class="col-xs-6">
					<a ng-href="#/person/{{image.id}}">
						<p>Role: {{image.character}}</p>
						<img ng-src="{{image.profile_path}}" alt="{{image.name}}"/>
						<p>Actor: {{image.name}}</p>
					</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="cast">

		<hide-show info="crew"></hide-show>
		
		<div class="overflow">
			<ul ng-show="crew.show">
				<li ng-repeat="image in details.credits.crew" class="col-xs-6">
					<a ng-href="#/person/{{image.id}}">
						<p>{{image.job}}</p>
						<img ng-src="{{image.profile_path}}" alt="{{image.name}}"/>
						<p>{{image.name}}</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="similar-movies">

		<hide-show info="similar"></hide-show>
		
		<div class="overflow">
			<ul ng-show="similar.show">
				<li ng-repeat="image in details.similar.results" class="col-xs-6">
					<a ng-href="#/movie/{{image.id}}">
						<img ng-src="https://image.tmdb.org/t/p/w185/{{image.poster_path}}" alt="{{image.title}}"/>
					</a>
				</li>
			</ul>
		</div>
	</div>


</div>