
<body ng-app="myApp">
	<header class="container-fluid">
		<div class="search-btn col-xs-12">
			<span class="glyphicon glyphicon-search"></span>
		</div>
		<div class="header-btns">
			<a href="#now-playing" class="col-xs-6 active">Now Showing</a>
			<a href="#upcoming" class="col-xs-6">Upcoming</a>
		</div>
	</header>

	<div class="content container-fluid"  ng-controller="MainController">

		<div class="col-xs-6" ng-repeat="movie in nowPlaying.results">
			<img ng-src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}" />
		</div>

	</div>