	<div class="header-btns">

		<div class="col-xs-4 active" data-name="now_playing" ng-click="change($event)">Now Showing</div>
		<div class="col-xs-4" data-name="popular" ng-click="change($event)">Popular</div>
		<div class="col-xs-4" data-name="upcoming" ng-click="change($event)">Upcoming</div>
	</div>

	<div class="content container" id="home" ng-switch on="myData">
		<div class="list">
			<toggle-view></toggle-view>
		</div>

		<div ng-switch-when="true" class="switch">
			<image-list images="nowPlaying"></image-list>
		</div>

		<div ng-switch-when="false" class="switch">
			<movie-list-view scope="nowPlaying"></movie-list-view>
		</div>
	
	</div>